body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

header {
  padding: 20px 0;
}


.navigation {
  background-color: rgba(230, 230, 230, 0.95);
  height: auto;
  width: 100%;
  text-align: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
}

.navigation ul {
  padding: 0;
}

.navigation li {
  color: #666666;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
  margin: 20px;
  text-transform: uppercase;
}


.jumbotron {
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  background-image: url("../img/NES.jpg");
  background-size: cover;
  color: #FFF;
  height: 450px;
  text-shadow: 0.5px 0.5px 0.5px #000000;
}

.jumbotron2 {
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  background-image: url("../img/RES.jpg");
  background-size: cover;
  color: #FFF;
  height: 350px;
  text-shadow: 0.5px 0.5px 0.5px #000000;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

/* testing wrap content (start) */

.wrap:before,
.wrap:after { content:""; display:table; }
.wrap:after { clear: both; }
.wrap {
  max-width: 800px;
  padding: 0 30px;
  margin: 0 auto;
  zoom: 1;
}

/* (end) wrap testing */
.news {
  
}
.news .posts { list-style-type: none; }

.news .posts li { margin-bottom: 30px; }

.news .posts .post-link {
  font-size: 24px;
  letter-spacing: -1px;
  line-height: 1;
}

.news .posts .post-date {
  display: block;
  font-size: 15px;
  color: #818181;
}

.introduction {
  
}


.col-md-6 {
  margin: 0 0 30px;
}

.btn_square {
  color: #333;
  font-size: 70px;
  text-transform: uppercase;
}


.btn-secondary {
  background-color: #E8DFE0;
  color: #ffffff;
  margin: 0 0 30px;
}

footer {
  font-size: 12px;
  padding: 20px 0;
  background-color: #e6e6e6;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}

.wrapfoot {
  max-width: 1000px;
  padding: 0 30px;
  margin: 0 auto;
  zoom: 1;
}
